[default]
aws_access_key_id={{ certbot_route53_aws_key_id }}
aws_secret_access_key={{ certbot_route53_aws_key }}
{% if certbot_route53_region is defined %}region={{ certbot_route53_region }}{% endif %}